<div class="inquiry-modal-text-style">
  <p class="inquiry-modal-title">Request an Invite</p>
  <p class="inquiry-modal-subtext">To request an invitation and preview our dining experiences, please complete the inquiry form below.</p>
</div>

<div class="inquiry-form">
  <%= form_for Inquery.new, method: :post do |u| %>
    <%= u.text_field :name, placeholder:"Full name*", class: "modal-input-textbox radius" %>
    <%= u.text_field :email, placeholder:"Email*", class: "modal-input-textbox radius" %>
    <%= u.text_field :zipcode, placeholder:"Zipcode", class: "modal-input-textbox radius" %>
    <%= u.text_field :referral_source, placeholder:"How did you hear about us?", class: "modal-input-textbox radius" %>
    <%= u.text_field :referral_code, placeholder:"Referral or Promo Code", class: "modal-input-textbox radius" %>
</div>
  <div class="modal-submit-div">
    <a href="" class="modal-input-submit submit-inquiry">Submit</a>
  </div>
  <% end %>