<div class="fixed">
  <nav class="top-bar" data-topbar role="navigation">
    <section class="top-bar-section">
      <div class="TC-logo">
        <ul class="title-area">
          <li class="name"><h1><%= image_tag('/images/General/TC_Logo.svg') %></h1></li>
        </ul>
      </div>
    </section>

    <div class="nav-middle">
      <section class="top-bar-section">
        <ul>
          <li><a href="#" class="menu-items-link-style">Chef-Curated Menus</a></li>
          <li><a href="#" class="menu-items-link-style">Private Dining</a></li>
          <li><a href="#" class="menu-items-link-style">Insider Privileges</a></li>
        </ul>
      </section>
    </div>

    <div class="navbar-right-margin">
      <section class="top-bar-section right">
        <a href="#" class="Login-link">Login</a>
        <a href="#" class="navbar_link_style">Grab Your Seat</a>
      </section>
    </div>
  </nav>
</div>

<!-- <div class="Nav_Div"></div> -->

<div class="Hero">
  <p class="Hero-Text">The Supper Club. <span class="orange-text">Reinvented.</span></p>
  <p class="Hero_Sub_Title">A new way to experience top restaurants.</p>
  <%= image_tag('/images/Hero/more_arrow.svg', class: "more-arrow") %>
</div>

<div class="Section2_About">
  <p class="Section_Title">Distinctive Dining Experiences</p>
  <p class="Section_Body_Text">Tasting Collective is a private community for food lovers. Partnering with top restaurants, we elevate the experience of dining out for our members. Enjoy private chef-curated menus, access to unique dining spaces, and behind-the-scenes privileges, such as kitchen tours and chef meet-and-greets.</p>
  <a href="#" class="link_style">Grab Your Seat</a>
</div>

<div class="SS_BG Savor_Section">
  <div class="SS_Text_BG" id="Savor_Section_Text">
    <p class="SS_Title_Left">Savor The Chef’s Best</p>
    <div class="SS_Line_Separator_Left"></div>
    <p class="SS_Body_Copy_Left">Enjoy private menus thoughtfully constructed by award-winning chefs. Sample an assortment of the restaurant’s signature dishes as well as inventive off-menu creations.</p>
  </div>
</div>

<div class="SS_BG Discover_Section">
  <div class="SS_Text_BG" id="Discover_Section_Text">
    <p class="SS_Title_Right">Discover Unique Spaces</p>
    <div class="SS_Line_Separator_Right"></div>
    <p class="SS_Body_Copy_Right">From chef’s tables to wine cellars to private rooms, we always aim to enhance the dining experience by giving our members access to exclusive venues.</p>
  </div>
</div>

<div class="SS_BG Behind_The_Scenes_Section">
  <div class="SS_Text_BG" id="Behind_The_Scenes_Section_Text">
    <p class="SS_Title_Left">Behind the Scenes</p>
    <div class="SS_Line_Separator_Left"></div>
    <p class="SS_Body_Copy_Left">Satiate your appetite and your curiosity. Get an insider's glimpse of the restaurant world with special privileges such as kitchen tours and chef meet-and-greets.</p>
  </div>
</div>

<div class="Top_Restaurants_Section">
  <p class="Top_Restaurants_Section_Title">Only The Very Best</p>
  <p class="Section_Body_Text">From Critic’s Picks restaurants to James Beard Award-winning chefs,<br> We always host our dining experiences at the most sought-after restaurants.</p>
  <a href="#" class="view_experiences_link_style">View upcoming experiences</a>
</div>

<footer class="Footer">

  <div class="footer-link-group">
    <ul>
      <div class="footer-links-left">
        <li class="footer-links"><a href="#" class="footer-links-style">Home</a></li>
        <li class="footer-links"><a href="#" class="footer-links-style">FAQ</a></li>
        <li class="footer-links"><a href="#" class="footer-links-style">Privacy Policy</a></li>
        <li class="footer-links"><a href="#" class="footer-links-style">Terms of Service</a></li>
      </div>
    <!-- </ul> -->

    <!-- <ul id="footer-social-media-links"> -->
      <li class="footer-social-media-links"><%= link_to(image_tag("/images/Footer/Email_Icon.png"), "#") %></li>
      <li class="footer-social-media-links"><%= link_to(image_tag("/images/Footer/FB_Icon.png"), "#") %></li>
      <li class="footer-social-media-links"><%= link_to(image_tag("/images/Footer/Twitter_Icon.png"), "#") %></li>
    </ul>
  </div>

  <div class="footer-separator"></div>

  <p class="copyright">&copy; Tasting Collective 2015</p>
</footer>
